@media screen and (max-width:800px){
    .text-header h1{
        font-size: 43px;
    }

    .links-header{
        position: fixed;
        background: #3a7bd5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top:0;
        right: 0; /*derecha*/
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);
        transition: ease-in-out 0.5s;
    }

    .links-header a{
        color: #fff;
        font-weight: 400; /*grosos de la letra*/
    }

    .button-menu{
        display: block;
        z-index: 101;
        cursor: pointer;
        text-align: center;
        width: 80px;
        height: 80px;
    }

    .button-menu i{
        font-size: 25px;
        line-height: 80px;
    }

    .menuEffect{
        clip-path: circle(150% at 100% 0);
    }

    .article{
        width: 47%;
    }

    .students{
        flex-direction: column-reverse;
    }

    .students img{
        width: 60%;
    }

    .content-admissions{
        flex-direction: column-reverse;
    }

    .types {
        width: 100%;
    }

    .types .type {
        width: 90%;
    }

    .admissions-text {
        width: 100%;
        margin-bottom: 25px; /*separacción*/
    }

    .tutorials{
        flex-direction: column;
    }

    .tutorials img{
        width: 70%;
        margin: auto;
    }

    .box-videos h4{
        margin: 0 auto 15px auto;
    }

    .partFooter {
        width: 45%;
    }
}


@media screen and (max-width:500px){
    .container-header{
        flex-direction: column-reverse;
        margin-top: 30%;
    }

    .text-header{
        text-align: center;
    }

    .text-header h1{
        font-size: 55px;
    }

    .text-header p{
        font-size: 22px;
    }

    .container-header > img{
        width: 90%;
    }

    .article{
        width: 95%;
    }

    .students img{
        width: 75%;
    }

    .box-videos h4{
        font-size: 18px;
        width: 300px;
    }

    .partFooter {
        width: 90%;
    } 
}
