.notfound{
    color: #f8f1f1;
    color: #11698e;
    color: #19456b;
    color: #16c79a
} /*galeria de imagenes no es un clase*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif; /*letras cambio apartir de link*/
}

h1,h2,h3,h4,h5,h6{
    /*color: #19456b;*/
    /*text-transform: uppercase; te coloca las letras en mayúscula*/
    color: #3175b0;
    /*text-transform: uppercase;*/
    font-weight: 300;
}

.text-header h1{
    text-transform: none;
}

.container{
    width: 90%;
    max-width: 1150px;
    margin: auto;
    overflow: hidden; /*cortar imgen a lo maximo tamaño*/
}

.container-another{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0; /*arriba, abjo; cero alos costados*/
}/*el que me va hayudar a manejar en GRADUACIONES*/

h1{
    font-size: 50px;
    padding: 0 0 20px 0;
}

header{
    height: 100vh;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(27 180 222 / 76%), rgb(0 0 71 / 75%)), url(../images/principal.jpg);
    background: linear-gradient(to right, rgb(27 180 222 / 76%), rgb(0 0 71 / 75%)), url(../images/principal.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2); /*arriba blanco, mar agua separación */
    position: fixed; /*menu se queda*/
    top: 0; /*de menu*/
    z-index: 100; /*de frente en tres dimensiones*/
}

.nav{
    display: flex;
    justify-content: space-between; /*separa bode derecho (logo)-izquierdo (botones navegación)*/
    align-items: center;
}

.nav .logo{
    height: 80px;
    vertical-align: top;
}

.logo img{
    height: 100%;
}

.links-header{
    font-weight: 300;
}

.links-header a{
    color: #19456b;
    text-decoration: none;
    margin-left: 20px;
}

.button-menu{
    display: none; /*se hace desaparecer el boton de lineas en el navegador*/
}

.container-header{
    width: 100%;
    height: 600px;
    display: flex; /*todo me lo pone en sola linea titulo, lema,inico de sesion*/
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15%;

}

.container-header > img{
    width: 60%;
    animation: ease-in animationimg 1s;
    opacity: 0.1; /*aumentar o disminuir la opacidad de imagen*/
    border-radius: 10px;
}

@keyframes animationimg {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
  }

.text-header{
    margin: 0 0 0 30px;
    /*animation: ease-in animationImg 1s;*/
}

.text-header > h1{
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 65px;
    text-shadow: 2px 5px #19456b; /*sombra a título*/
    /*animation: ease-in animationImg 1s;*/
}

.text-header > p{
    color: #fff;
}

.text-header a{
    background: #16c79a;
    display: inline-block;
    width: 170px;
    margin: 28px 0 0 0;
    text-align: center;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); /*rgba sombra*/
} /*boton incio de sesión*/

.about-us{
    background-color: #f2f2f2; /*relleno de pantalla por completo*/
}

.container-articles{
    display: flex;
    flex-wrap: wrap; /*forma tablita*/
    margin-top: 60px; /*separación del título*/
    /*padding-bottom: 20px;*/
    justify-content:space-evenly; /*espacio de imagenes al medio y jalar a los costados BETWEEN*/
}

.article{
    /*border: 10px solid #000046; /*locoloca al rededor color*/
    width: 30%;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;/*45px 30px 25px 30px; tamaño hacia todos lados*/
    transition: 0.5;
    background: #fff; /*color de las tarjetas*/
    /*cursor: pointer;*/
}

.article:hover{
    box-shadow:  0 8px 32px rgba(0, 0, 0, 0.3);
} /*hove efecto cuando pasa el maus por encima*/

.article > img{
    width: 100%; /*tamaño ancho del articulo*/
    height: 150px; /*alto*/
    margin: auto;
}

.article > h3{
    font-size: 25px; /*tamaño*/
    margin-top: 30px; /*margen asia arriba*/
    /*border-bottom: 3px solid #fff; magen subrrayado*/
}

.article > p{
    font-weight: 100;
    color: #19456b;
    margin-top: 15px;
    padding-bottom: 20px;
    text-align: justify;
}

.article > a{
    background: #11698e ;
    display: inline-block;
    width: 90px;
    /*margin: 28px 0 0 0;*/
    text-align: center;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 5px;
}

.students{
    display: flex; /*mover como yo quiero a todos lados*/
    justify-content: space-evenly; /*hacia el vorde y entre si mismos a todos lados*/
    align-items: center ;
    height: 600px;
}

.students > img{
    width: 50%;
}

.text-students{
    margin: 0 0 0 30px;
}

/*.text-students h1{

}*/

.text-students p{
    font-weight: 300;
    margin-top: 15px;
    color: #19456b;
    text-align: justify;
}

.text-students a{
    display: inline-block; /*el alineado en bloque*/
    margin: 28px 0 0 0;
    background: #11698e;
    width: 130px;
    text-align: center;
    color:#fff;
    padding: 10px;
    text-decoration: none; /*quitar subrrayado*/
    font-weight: 400;
    text-transform: uppercase; /*letra mayúscula*/
    font-size: 14px;
    border-radius: 5px;
    box-shadow:  0 2px 15px #11698e;
    
    /*margin:auto*/
}

.admissions{
    background: #11698e;
    padding-top: 30px; /*relleno hacia arriba*/
}

.content-admissions{
    display: flex;
    justify-content: space-evenly;
}

.types{
    width: 60%;
    display: flex; /*coloca en linea fila*/
    flex-wrap: wrap; /*trabaje en cuadros*/
    justify-content: space-evenly; /*entre ellos misma*/
}

.types .type{
    width: 45%;
    background:rgba(255, 255, 255, .2); /*color de los cudritos*/
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px; /*ADENTRO distancia*/
    margin-bottom: 20px; /*por FUERA alinea de forma igual*/
}

.types .type h4{
    color: #f2f5fc;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px; /*tamaño de letras*/
}

.types .type p{
    color: #f2f5fc;
    font-weight: 300;
}

.admissions-text{
    width: 40%;
    padding-right: 45px; /*separación entre parrafos*/
}

.admissions-text h4{
    color: #fff;
    font-size: 40px;
}

.admissions-text p{
    color:#FFF;
    font-weight: 300;
    text-align: justify; /*separación entre letras*/
    margin: 20px 0;
}

.admissions-text a{
    color:#fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 0;
    width: 100%; /*lo que raya el boton*/
    text-align: center;
    border-radius: 5px;
}

.tutorials{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.tutorials > img{
    width: 50%;
}

.box-videos{
    margin: 30px 30px 0 0;
}

.box-videos h4{
    font-size: 25px;
    background: #f2f2f2; /*fondo*/
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
    border:1px solid rgba(59, 130, 161, 0.116);
    cursor: pointer;
}

.box-videos h4:hover{
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.3);
} /*efecto boton*/

.box-videos i{
    color: #16c79a;
    font-size: 25px;
}

footer{
    background: #f2f2f2;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}
.partFooter{
    width: 20%;
    text-align: center;
}

.partFooter img{
    width: 70%;
} /*esto te obedece con el anterior*/

.partFooter h4{
    color:#19456b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a{
    display: block;
    text-decoration: none;
    color: #5d6678;
    font-weight: 300;
    transition: color .3s ease-in-out; /*transición efecto*/
    margin-bottom: 10px;
}

.partFooter a:hover{
    color:#16c79a
}

.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #5d6678;
    border:1px solid #5d6678;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s; /*de adentro hacia afuera*/
    margin-right: 5px; /*distancia entre ellos*/
    cursor: pointer;
}

.social-media i:hover{
    color:#fff;
    background-color: #16c79a;
    border-color: #16c79a;
}
